:root {
    


}

html {
    font-size: 63%;
}

body {
    font-family:sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    background-color: rgba(139, 5, 5, 0.774);
    font-family: 'Lucida Sans';
    color: white;
   
}

span {
    background-image: linear-gradient(gray,rgba(56, 54, 54, 0.815) );
}

 h1 {
    text-align: center;
    font-size: 30px;   
}

nav {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

nav ul {
display: flex;
justify-content: space-evenly;
}

nav li {
    display:inline-block;
    margin-left: 30px;
}

nav a {
   color: white;
   text-decoration: solid;
   text-shadow: 1px 1px 2px black;
}

.code-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1.5rem;
}

.code-content p {
    align-items: center;
}

.images {
    border-radius: 10%;
    border: 1px solid black;
    margin-top: 20px;
}

.body-headers {
    position: relative;
    right: 10px;
    text-shadow: 1px 1px 2px rgba(139, 5, 5, 0.774);
    text-decoration: underline rgba(139, 5, 5, 0.774) ;
    
}

.project_1 {

}

.my-work img:hover{
    box-shadow: inset 0px 0px 8px white, 0 0 15px white;
}

footer {
    padding: 10px;
    background-color: rgba(139, 5, 5, 0.774);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
}

 footer .portfolio-footer{
    border-radius: 10px;
    display: flex;
    justify-content: baseline;
    
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    

}

footer  li {
 display: inline-block;
 margin-left: 30px;
 
}

footer  a {
    color: white;
    text-shadow: 1px 1px 2px black;
}

